.App {
  font-family: sans-serif;
  text-align: center;
}

.board,
.board * {
  box-sizing: border-box;
}

.board {
  --puck-diameter: 24px;
  --dice-size: calc(var(--puck-diameter) * 12 / 12);
  --point-width: calc(var(--puck-diameter) * 15 / 12);
  --point-height: calc(var(--puck-diameter) * 60 / 12);
  --point-gap: calc(var(--puck-diameter) * 18 / 12);
  /* --puck-margin: calc((var(--point-width) - var(--puck-diameter)) / 2); */
  --bar-width: calc(var(--puck-diameter) * 15 / 12);
  --board-border: calc(var(--puck-diameter) * 4 / 12);
  --off-width: calc(var(--point-width));
  --column-height: calc(var(--point-height) * 2 + var(--point-gap));
  --bar-height: var(--column-height);
  --inner-width: calc(var(--point-width) * 6);
  --board-height: calc(var(--bar-height) + 2 * var(--board-border));
  --board-width: calc(
    (var(--point-width) * 12) + var(--bar-width) + (var(--board-border) * 3) +
      var(--off-width)
  );
  --rim-color: #8d6e63;
  position: relative;
  background: tan;
  border: var(--board-border) solid var(--rim-color);
  border-image: repeating-linear-gradient(
      40deg,
      hsl(30, 50%, 15%),
      hsl(20, 50%, 30%),
      hsl(25, 40%, 20%) 8px
    )
    60;
  width: var(--board-width);
  height: var(--board-height);
}

.surface {
  display: flex;
}

.column {
  height: calc(var(--point-height) * 2 + var(--point-gap));
  border-left: calc(var(--point-width) / 2) solid transparent;
  border-right: calc(var(--point-width) / 2) solid transparent;
  border-bottom: var(--point-height) solid brown;
  border-top: var(--point-height) solid seagreen;
}

.column.even {
  border-bottom-color: seagreen;
  border-top-color: brown;
}

.bar {
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--rim-color);
  background: repeating-linear-gradient(
    75deg,
    hsl(30, 50%, 15%),
    hsl(20, 50%, 30%),
    hsl(25, 40%, 20%) 3px
  );
}

.slat {
  width: var(--board-border);
  height: var(--bar-height);
  background: var(--rim-color);
}

.off {
  width: var(--off-width);
  height: var(--bar-height);
}

.puck {
  position: absolute;
  left: 20px;
  top: 20px;
  background: ivory;
  width: var(--puck-diameter);
  height: var(--puck-diameter);
  line-height: var(--puck-diameter);
  border-radius: 50%;
  text-align: center;
  transition: background-color 2s;
}

.puck.dark {
  background: rgb(7, 7, 48);
}

.puck.from {
  background: pink;
}

.puck.to {
  background: green;
}

.puck.selected {
  background: blue;
}

.buttons,
.dice {
  position: absolute;
  top: calc(var(--bar-height) / 2 - var(--dice-size) / 2);
  left: var(--point-width);
  width: calc(var(--point-width) * 4);
  display: flex;
  justify-content: space-evenly;
}

.buttons {
  left: calc(var(--inner-width) + var(--bar-width) + var(--point-width));
}

.button,
.die {
  line-height: var(--dice-size);
  height: var(--dice-size);
  margin: calc(var(--dice-size) / 10);
  border-radius: calc(var(--dice-size) / 6);
  background-color: ivory;
  text-align: center;
}

.die {
  width: var(--dice-size);
  transform: rotate(5deg);
}

.die.inactive {
  background-color: gray;
}

.button {
  width: calc(var(--point-width) * 2);
}
