.App {
  font-family: sans-serif;
  text-align: center;
}

.board {
  --puck-diameter: 24px;
  --point-width: calc(var(--puck-diameter) * 1.125);
  --point-height: calc(var(--puck-diameter) * 4.75);
  --point-gap: calc(var(--puck-diameter) * 1.5);
  --puck-margin: calc((var(--point-width) - var(--puck-diameter)) / 2);
  --dice-size: calc(var(--puck-diameter) * 0.75);
  --board-width: calc(
    var(--point-width) * 13 + var(--bar-width) + var(--border-width)
  );
  --board-height: calc(var(--point-height) * 2 + var(--point-gap));
  --board-border: calc(var(--puck-diameter) / 2);
  --bar-width: calc(var(--puck-diameter) * 0.75);

  display: grid;
  grid-template-columns:
    repeat(6, var(--point-width)) var(--bar-width)
    repeat(6, var(--point-width)) var(--border-width) var(--point-width);
  grid-template-rows: var(--point-height) var(--point-gap) var(--point-height);
  grid-template-areas:
    "p12 p11 p10 p9 p8 p7 p0 p6 p5 p4 p3 p2 p1 bsep boff"
    "l l ld ld ld ld bar r r r r r r msep moff"
    "p13 p14 p15 p16 p17 p18 p25 p19 p20 p21 p22 p23 p24 wsep woff";

  background: tan;
  border: var(--board-border) solid gray;
  width: var(--board-width);
}

.board .columns {
  grid-area: 1 / 1 / 1 / 14;
  xgrid-area: 1 / 1 / 1 / 14;
}

.column {
  --color: brown;
  display: inline-block;
  height: var(--point-gap);
  border-left: calc(var(--point-width) / 2) solid transparent;
  border-right: calc(var(--point-width) / 2) solid transparent;
  border-bottom: var(--point-height) solid var(--color);
  border-top: var(--point-height) solid seagreen;
}

.off {
  display: inline-block;
  height: var(--board-height);
  width: calc(var(--point-width) + var(--border-width));
  border-left: var(--border-width) solid gray;
}

.even {
  border-bottom-color: seagreen;
  border-top-color: brown;
}

.bar {
  display: inline-block;
  width: var(--bar-width);
  height: var(--board-height);
  background-color: gray;
}

.puck-stack {
  justify-self: center;
  display: flex;
  flex-direction: column;
  background: transparent;
}

.puck-stack.near {
  flex-direction: column-reverse;
}

.puck {
  background: ivory;
  width: var(--puck-diameter);
  height: var(--puck-diameter);
  line-height: var(--puck-diameter);
  border-radius: 50%;
  text-align: center;
}

.puck.dark {
  background: rgb(7, 7, 48);
}

.puck.possible-fron {
  background: pink;
}

.puck.possible-to {
  background: green;
}

.puck.selected {
  background: blue;
}

.dice {
  grid-area: ld;
  align-self: center;
  justify-content: space-evenly;
  display: flex;
}

.die {
  display: block;
  line-height: var(--dice-size);
  width: var(--dice-size);
  height: var(--dice-size);
  margin: calc(var(--dice-size) / 10);
  border-radius: calc(var(--dice-size) / 5);
  background-color: ivory;
  text-align: center;
  transform: rotate(5deg);
}
